
<div class="col-10 offset-1 about">
  <h1>about splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://shannakershner.netlify.com">Shanna Kershner</a>, a student at the University of Texas at Austin Coding Bootcamp.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'abt.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Shanna Kershner</h2>
      <br />
      <p>
        Shanna Kershner is a mere mortal trying to understand the world  by examining life through the eyes of the undead.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>