<h3>
  <span> SPLURTY | no. <%= @quote.id %> | </span>
  The best life advice you can get... from <i>dead</i> people!
</h3>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />