@import "bootstrap";

.clear {
  clear: both;
}

.circle{
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #94150f;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-family: 'Grenze', cursive;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
}

.slogan {
  font-family: 'Grenze', cursive;
  font-style: italic;
  padding-top: 26px;
}

.links{
  padding-top: 26px;
}

.links a {
  color: #871717;
  font-size: 25px;
  font-family: 'Grenze', cursive;
  border-bottom: 1px solid #871717;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'mothproofscriptregular', cursive;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -1.5px;
}
h2 {
  font-family: 'Amarante', cursive;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -1.5px;
}

.next-quote {
  color:#871717;
  font-family: 'Grenze', cursive;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'Grenze', cursive;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}